
.editor {
    border-radius: 10px;
    padding: 5px;
    min-height: 500px;
    margin-top: 3px;
    outline: none;
    border: 2px solid black;
}

.body_editor {

    max-width: 1024px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px) {

    .editor {
        padding: 3px;
    }
}
/*.editorImage{}*/

