
.body {
    margin-top: 100px;

}

.body_title {
    color: #1d1d1f;
    margin-bottom: 24px;
}

.body_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.card {
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
    width: 303px;

}
.updateEditor {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
}
.updateEditorSvg {

    width: 30px;
    height: 30px;
    background-Image: url('/editor/edit-box-line.svg')

}

.card_img {
    width: 303px;
    height: 170px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
}

.card_text {
    width: 303px;
    height: 167px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.card_text div {
    background-color: #fff;
}

.card_text_title {
    color: #6e6e73;
    margin: 0 0 8px;
    font-size: 12px;
}

.card_text_introduce {
    color: #1d1d1f;

    font-size: 19px;
}

.card_text_createDate {
    color: #6e6e73;
    margin: 8px 0 0;
    font-size: 14px;
}

@media (max-width: 500px) {

    .body_layout {

        flex-direction: column;

    }
}

.insert {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;

    justify-content: center;

    align-items: center
}
.insertIcon {
    background-image: url("/add-line.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
/*.editorImage{}*/

